.analysis-container {
  color: #fff;
}

.top-3-container {
  padding: 3%;
}

.total-per-year {
  color: #fff;
  padding: 3%;
}

.detailed-input.card {
  color: #fff;
  background-color: #111111;
  padding-left: 3%;
  padding-bottom: 1%;
  font-size: 1.5rem;
}

.detailed-migraine-info {
  color: #fff;
}

.detailed-title {
  font-size: 3rem;
  padding: 3%;
}
