.home-view {
  margin: 5%;
  height: 2rem;
  background-color: #111111;
  color: #fff;
  font-size: 2rem;
}

.home-container {
  display: flex;
}

.home-words-container {
  margin-right: 20%;
}

.image-container {
  margin-top: 10%;
  width: 50%;
}

.header-words {
  font-size: 3rem;
  font-weight: bold;
}
